# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
.history

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/pages/EKYCBegin/index copy.jsx
src/pages/EKYCConfirmInformation/index copy.jsx
src/pages/EKYCIntroductionStepFour/index copy.jsx
src/pages/EKYCIntroductionStepTwo/index copy.jsx
src/pages/EKYCIntroductionStepThree/index copy.jsx
src/pages/EKYCIntroductionStepOne/index copy.jsx
src/pages/EKYCScanFace/index copy.jsx
src/pages/EKYCScanIDCardAddimage/index copy.jsx
src/pages/EKYCSignature/index copy.jsx
src/pages/EKYCSuccessful/index copy.jsx
